# Ambiente virtual
venv/

# Variáveis de ambiente
.env

# Cache Python
__pycache__/
*.pyc
*.pyo

# DLLs - exceto biometria
*.dll
!biometria/*.dll
!biometria/libwinpthread-1.dll

# Banco de dados local
*.db
*.sqlite3

# Arquivos de alunos
app/static/documentos/
app/static/fotos/